/* BASE */
body {
    background-color: rgba(243, 244, 245, 1);
}
h1 {
    //color: #fb1;
    text-align: center
}

p {
    text-align: justify;
}

button {
    background-color: rgb(245, 245, 245);
    padding: 10px 13px;
    border-radius: 5px;
    border: 1px solid rgb(199, 199, 199);
}

button:active, button:hover {
    background-color: rgb(220, 220, 220);
}

/* LAYOUT */
.wrapper {
    max-width: 600px;
    margin: 10px auto;
}

.exo {
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px #0000006e;
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 7px;
}

.reponse {
    padding: 20px;
    border-radius: 5px;
    background-color: #1b2426;
    color: #b9bdb6;
}